<div class="product-details-modal">
  <div class="product-details">
    <h2 class="product-name">{{ data.product.name }}</h2>
    <img
      [src]="'assets/images/products/' + data.product.type + '.png'"
      alt="{{ data.product.name }}"
      class="product-image"
    />
    <p class="product-description">{{ data.product.description }}</p>
    <p class="product-price">{{ data.product.price | currency }}</p>
    <ng-container *ngFor="let reviews of data.product.reviews">
      <p>{{ reviews.user }}: "{{ reviews.comment }}"</p>

      <div class="product-rating">
        <span
          *ngFor="let star of getStars(reviews.rating)"
          class="material-icons"
          >star</span
        >
      </div>
    </ng-container>
    <button class="btn btn-green" (click)="onAddToCart()">Add to Cart</button>
  </div>
</div>
